form
  background-color: #9CC4E4
  padding: 20px
  text-align: center
  border-radius: 5px

  input
    padding: 10px
    margin:  10px
    border-radius: 5px
    border: none
    min-width: 200px

  .field
    padding: 10px

  input[type="submit"]
    background: none
    border: none
    background-color: #F26C4F
    color: white
    font-size: 16px
    padding: 5px 10px
    border-radius: 5px
    font-family: 'Alegreya', serif
    margin: 20px
    cursor: pointer
